@import "tailwindcss";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #f8fafc;
  }

  ::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: #f56815;
  --color-secondary: #f9b67d;
  --color-success: #056c35;
  --color-accent: #64ac80;
  --color-accent-light: #ccd4ac;
  --color-accent-dark: #4f5440;

  --color-cream: #FDFCF6;
  --color-yellow: #FACC15;
  --color-soft-gray: #F8F7F2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {

  input,
  textarea,
  select {
    @apply border border-transparent bg-gray-100 text-gray-900 rounded-xl px-4 py-3 transition-all duration-200;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-gray-400;
  }

  input:focus,
  textarea:focus,
  select:focus {
    @apply bg-white border-[var(--color-primary)] outline-none ring-4 ring-[var(--color-primary)]/10;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  .printable-area,
  .printable-area * {
    visibility: visible;
  }

  .printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  @page {
    margin: 0;
    size: auto;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}
